/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

h1 {
  font-family: 'Calligraffitti', cursive;
}

h5 {
  font-family: 'Calligraffitti', cursive;
  text-decoration: none;
}

.title-index {
  color: #A40001;
  text-decoration: none;
}

my-wrapper {
  margin-bottom: 50px;
}

